.quote {
    padding: 50px;
    padding-top: 220px;
    margin: 20px;
    font-size: 32px;
}

body {
    background-color: #FFF8F0;
}

.container {
    text-align: center;
    background-color: #F8F8F8;
	width: 840px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px #888888;
    padding: 20px;
}
.author {
    text-align: right;
    margin: 20px;
    font-size: 20px;
}

.quote-cont {
    height: 600px;
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    color: #F8F8F8;
    margin: 10px;
}

.filter {
    height: 100%;
    background: rgba(0,0,0,0.2);
}

footer {
    text-align: right;
}
